## Finding the Amount of Water in the Glasses

In [1]:
# Import libraries
import numpy as np
from numpy import linalg as LA
from scipy.linalg import lu

### When 2 out of 4 glasses are being filled

In [40]:
def seq(N):
    a = 1/4
    for i in range(1,N):
        b = 1/(2**(i+2))
        a = a + b
    
    return(a)

In [39]:
for r in range(100, 110):
    print (" For n =", r, "a_n is,", (seq(r)))

for r in range(1000, 1010):
    print (" For n =", r, "a_n is,", (seq(r)))

 For n = 100 a_n is, 0.5
 For n = 101 a_n is, 0.5
 For n = 102 a_n is, 0.5
 For n = 103 a_n is, 0.5
 For n = 104 a_n is, 0.5
 For n = 105 a_n is, 0.5
 For n = 106 a_n is, 0.5
 For n = 107 a_n is, 0.5
 For n = 108 a_n is, 0.5
 For n = 109 a_n is, 0.5
 For n = 1000 a_n is, 0.5
 For n = 1001 a_n is, 0.5
 For n = 1002 a_n is, 0.5
 For n = 1003 a_n is, 0.5
 For n = 1004 a_n is, 0.5
 For n = 1005 a_n is, 0.5
 For n = 1006 a_n is, 0.5
 For n = 1007 a_n is, 0.5
 For n = 1008 a_n is, 0.5
 For n = 1009 a_n is, 0.5

### When 3 out of 4 glasses are being filled

In [34]:
def seq(N):
    a = 1/6
    for i in range(1,N):
        b = 1/(6 * (3**(i)))
        a = a + b
    
    return(a)

In [35]:
for r in range(100, 110):
    print (" For n =", r, "a_n is,", (seq(r)))

for r in range(10000, 10010):
    print (" For n =", r, "a_n is,", (seq(r)))

 For n = 100 a_n is, 0.24999999999999992
 For n = 101 a_n is, 0.24999999999999992
 For n = 102 a_n is, 0.24999999999999992
 For n = 103 a_n is, 0.24999999999999992
 For n = 104 a_n is, 0.24999999999999992
 For n = 105 a_n is, 0.24999999999999992
 For n = 106 a_n is, 0.24999999999999992
 For n = 107 a_n is, 0.24999999999999992
 For n = 108 a_n is, 0.24999999999999992
 For n = 109 a_n is, 0.24999999999999992
 For n = 10000 a_n is, 0.24999999999999992
 For n = 10001 a_n is, 0.24999999999999992
 For n = 10002 a_n is, 0.24999999999999992
 For n = 10003 a_n is, 0.24999999999999992
 For n = 10004 a_n is, 0.24999999999999992
 For n = 10005 a_n is, 0.24999999999999992
 For n = 10006 a_n is, 0.24999999999999992
 For n = 10007 a_n is, 0.24999999999999992
 For n = 10008 a_n is, 0.24999999999999992
 For n = 10009 a_n is, 0.24999999999999992